<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= Fluby.project_name %></title>
    <script type="text/javascript" src="swfobject.js"></script>
  </head>
  <body>
    <div id="flashcontent">
      This text is replaced by the Flash movie.
    </div>
    <script type="text/javascript">
      var so = new SWFObject("<%= Fluby.project_name %>.swf", "mymovie", "<%= Fluby.width %>", "<%= Fluby.height %>", "<%= Fluby.player %>", "<%= Fluby.bgcolor %>");
      so.write("flashcontent");
    </script>
  </body>
</html>
